
    /* reset styles */
    
    * {
      margin: 3px;
      padding: 5px;

    }
    div {
  text-align: center;
}

    
    /* begin styles */
    
    body {
      color: pink;
    }

body {background-color: black;}

    a {
      color: white;
      background: none;
      text-decoration: none;
    }
    
    a:hover {
      color: black;
      background: white;
    }

li {
  list-style-type:none;
}

p {
  border-style: dotted; 
  border-color: white; 
  padding: 35px; border-width: 11px;
  padding-left: 35px; padding-right: 35px
}

p{
	font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-size: 30px;
}

li {font-family: 'Dosis', sans-serif;
font-size: 20px;}

h1,h2,h3{
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: normal;}

h1{font-size: 80px;}

h3 {font-size: 25px;}


.instagram:hover{
  color: black;
  background: pink;
}


body.colorful {
  background: linear-gradient(124deg, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

@keyframes rainbow { 
  0%{background-position:0% 82%}
  50%{background-position:100% 19%}
  100%{background-position:0% 82%}
}
