
    /* reset styles */
    
    * {
      margin: 5px;
      padding: 5px;

    }
    div {
  text-align: center;
}

    
    /* begin styles */
    
    body {
      color: pink;
    }

body {background-color: black;}

    a {
      color: white;
      background: none;
      text-decoration: none;
    }
    
    a:hover {
      color: black;
      background: white;
    }
li {
  list-style-type:none;
}