
    /* reset styles */
    
    * {
      margin: 5px;
      padding: 5px;

    }
    div {
  text-align: center;
}

    
    /* begin styles */
    
    body {
      color: pink;
    }

body {background-color: black;}

    a {
      color: white;
      background: none;
      text-decoration: none;
    }
    
    a:hover {
      color: black;
      background: white;
    }
li {
  list-style-type:none;
}
p{
	font-family: 'Trattatello,', fantasy;
}
li {font-family: 'Dosis', sans-serif;}

h1,h2,h3{font-family: 'Trattatello,', fantasy;}
h1{font-size: 60px;}
p{font-size: 30px;}
h3 {font-size: 20px;}

p {border-style: dotted; border-color: white; padding: 35px; border-width: 11px}

