h2{
    color: #F2F0EA;
    background-color: #EA4062;
    font-family: Courier, 'Courier New', monospace;
    font-size: 80%;
    padding: 11px;
    line-height: 1.5;
    cursor: pointer;
}

h1 {
    font-weight: normal;
    font-size: 325%;
    font-family: Courier, 'Courier New', monospace;
    color: #EA4062 !important;
    margin: 0;
    margin-bottom: 0.75em;
    margin-top: -0.1em;
    line-height: 1;
    width: 100%;
    font-size: 2.0em;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-color: #F2F0EA;
    box-sizing: border-box;
}

body {
	font-family: Courier, 'Courier New', monospace;
    font-size: 20px;
}

li {
    color: #EA4062 !important;
    background-color: #F2F0EA;
}

