

body {
  background: #51aeff;
  color: white;
  font-size: 22px;
}

div {
  max-width: 650px;}

img {
  max-width: 100%;
}

body {
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}


#toc {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: white;
  color: #51aeff;
  padding: 1em;
  font-size: 0.7em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #f9b8f4;
}

#toc a {
  color: #51aeff;
  text-decoration: none;
}

#toc a:hover {
  color: #f9b8f4;
}

#toc ul {
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.7em;
}

.highlight {
  background: yellow;
  color: #51aeff;
}

h1 {
	font-family: 'Abril Fatface', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

h2 {
  text-decoration: underline;
  font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  background: white;
  padding: 0.5em;
  font-weight: normal;
  color: #51aeff;
  margin-top: 0em;
}


img.profile {
  max-width: 150px;
}