
body {
  background: yellow;
}

body {
  background: #587E20;
  color: white;
  font-size: 22px;
}

div {
  max-width: 650px;}

img {
  max-width: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#toc {
  position: fixed;
  top: 1em;
 right: 1em;
}

#toc {
  position: fixed;
  top: 1em;
  right: 1em;
  background: white;
  color: #587E20;
  padding: 1em;
  font-size: 0.7em;
}

a {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: white;
}

#toc a {
  color: #587E20;
  text-decoration: none;
}

#toc a:hover {
  color: black;
}

#toc ul {
  padding: 0;
  list-style-type: none;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.7em;
}

.highlight {
  background: yellow;
  color: #587E20;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 3em;
  line-height: 1.1;
  margin-bottom: 2em;
}

h2 {
  background: white;
  padding: 0.5em;
  font-weight: normal;
  color: #587E20;
  margin-top: 2em;
}