body {
	
}

.grid-item {
  background-color: none;
  border: none;
    display: flex;
  justify-content: center;
}


.grid-container { 
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(6, 180px);
  grid-gap: 2px 2px;
}



.letter {
	width: 180px;
	height: 180px;
	position: relative;
	display: inline-block;
	margin: 0px;
	border: solid;
}

.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}


/*A*/

#A .up.triangle {
	width: 180px;
  height: 180px;
  background: orange;
	clip-path: polygon(50% 0%, 0 70%, 100% 70%);
	position: absolute;
}

#A .mid.left {
	width: 180px;
  height: 180px;
  background: orange;
position: absolute;
clip-path: polygon(0 70%, 0 90%, 50% 70%);
}

#A .mid.right {
	width: 180px;
  height: 180px;
  background: orange;
position: absolute;
clip-path: polygon(100% 70%, 100% 90%, 50% 70%);
 }

#A .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 70%, 0 90%, 20% 100%);
}

#A .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 70%, 100% 90%, 80% 100%);
}

#A:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#A:hover div.fill{
    opacity: 0;
}



/*B*/

.fill {
    width: 180px;
    height: 180px;
    background: blue;
    position: absolute;
}

#B .left.ver {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

#B .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 20% 0);
}

#B .top.right{
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 50% 50%, 60% 30%);
}

#B .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 50% 100%, 50% 50%);
}

#B .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(70% 70%, 50% 100%, 50% 50%);
}

#B:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#B:hover div.fill{
    opacity: 0;
}

/*C*/

#C .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 0 30%, 30% 0);
}

#C .top.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 70% 0, 30% 0);
}

#C .mid {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(30% 50%, 0 70%, 0 30%);
}

#C .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 0 70%, 30% 100%);
}

#C .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
     clip-path: polygon(30% 50%, 70% 100%, 30% 100%);
}

/*D*/

#D .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 30% 0, 0 50%);
}

#D .mid.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 0 50%, 30% 100%);
}

#D .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 0 50%, 30% 100%);
}

#D .top.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(30% 0, 30% 50%, 60% 30%);
}

#D .mid.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 60% 30%);
}

#D .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 30% 100%);
}

/*E*/

#E .mid {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(70% 50%, 0 0, 0 100%);
}

#E .top {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(42% 30%, 0 0, 60% 0);
}

#E .bottom {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(42% 70%, 0 100%, 60% 100%);
}

/*F*/

#F .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 30%, 0 0, 70% 0);

}

#F .mid.top {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 30%, 40% 30%, 40% 13%);
}

#F .mid.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(0 30%, 0 100%, 70% 30%);
}

#F .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(40% 100%, 0 100%, 40% 60%);
}

/*G*/
#G .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 0, 100% 0, 30% 50%);
}

#G .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 0, 0 30%, 30% 50%);
}

#G .mid.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 70%, 0 30%, 30% 50%);
}

#G .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 70%, 30% 100%, 30% 50%);
}

#G .bottom.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 100%, 30% 100%, 30% 50%);
}

#G .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 100%, 100% 85%, 70% 50%);
}

#G .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 50%, 100% 85%, 100% 50%);
}

/*H*/

#H .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 50% 50%);
}

#H .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

#H .mid.top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 30%, 70% 30%, 50% 50%);
}

#H .mid.bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 30% 70%, 50% 50%);
}

/*I*/

#I .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 30% 100%, 70% 100%);
}

#I .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 70% 100%);
}

/*J*/

#J .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 30% 70%);
}

#J .right.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 100%, 70% 0, 30% 70%);
}

#J .bottom.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 100%, 20% 100%, 30% 70%);
}

#J .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 80%, 0 30%, 30% 70%);
}

#J .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 80%, 20% 100%, 30% 70%);
}

/*K*/

#K .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 30% 50%);
}

#K .top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 70% 0, 30% 50%);
}

#K .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 70% 100%, 30% 50%);
}

/*L*/

#L .left.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 30% 70%, 30% 0);
}

#L .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 30% 70%, 0 100%);
}

#L .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 100%, 30% 70%, 0 100%);
}

#L .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 100%, 30% 70%, 100% 70%);
}

/*M*/

#M .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

#M .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 100%, 50% 50%, 0 100%);
}

#M .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 100%, 50% 50%, 100% 0);
}

/*N*/

#N .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 70% 30%, 0 100%);
}

#N .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 100%, 30% 70%, 100% 0);
}

/*O*/

#O .hexagon {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/*P*/

#P .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 30% 70%);
}

#P .mid.top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 0, 30% 70%);
}

#P .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 30%, 50% 0, 30% 70%);
}

#P .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 30% 100%, 30% 70%);
}

/*Q*/

#Q .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 40% 80%, 0 80%);

}

#Q .mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 40% 80%, 80% 0);
}

#Q .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 80%, 40% 80%, 80% 0);
}

#Q .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 80%, 40% 80%, 100% 100%);
}

/*R*/

#R .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 70% 100%);
}

#R .mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 40% 0, 40% 57%);
}

#R .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 30%, 40% 0, 40% 57%);
}

/*S*/

#S .top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 65% 35%, 100% 0);
}

#S .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 30% 70%, 100% 70%);
}

#S .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 30% 70%, 0 35%);
}

#S .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(65% 100%, 30% 70%, 100% 70%);
}

#S .bottom.left{
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(65% 100%, 30% 70%, 0 100%);
}

/*T*/

#T .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 0, 0 30%);
}

#T .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 50% 0, 100% 30%);
}

#T .top.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 30%, 50% 0, 100% 30%);
}

#T .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 30%, 70% 30%, 70% 100%);
}

#T .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 30%, 30% 100%, 70% 100%);
}

/*U*/

#U .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 90%, 30% 70%);
}

#U .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 15% 0, 30% 70%);
}

#U .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(10% 100%, 0 90%, 30% 70%);
}

#U .left.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(10% 100%, 50% 100%, 30% 70%);
}

#U .bottom.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 50% 100%, 30% 70%);
}

#U .right.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 50% 100%, 90% 100%);
}

#U .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 90%, 90% 100%);
}

#U .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 90%, 100% 0);
}

#U .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 85% 0, 100% 0);
}

/*V*/

#V .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 30% 0, 50% 70%);
}

#V .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 40% 100%, 50% 70%);
}

#V .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(60% 100%, 40% 100%, 50% 70%);
}

#V .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(60% 100%, 100% 0, 50% 70%);
}

#V .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 0, 100% 0, 50% 70%);
}

/*W*/

#W .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 20% 100%, 35% 30%);
}

#W .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 60%, 20% 100%, 35% 30%);
}

#W .mid.bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 60%, 65% 30%, 35% 30%);
}

#W .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 60%, 65% 30%, 80% 100%);
}

#W .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 65% 30%, 80% 100%);
}

#W .mid.top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 0, 65% 30%, 35% 30%);
}

/*X*/
#X .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 20%, 20% 0, 30% 50%);
}

#X .mid.top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 50%, 20% 0, 30% 50%);
}

#X .mid.top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 0, 70% 50%, 50% 30%);
}

#X .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 0, 70% 50%, 100% 20%);
}

#X .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 50%, 80% 100%, 100% 80%);
}

#X .mid.bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 50%, 80% 100%, 30% 50%);
}

#X .mid.bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 70%, 20% 100%, 30% 50%);
}

#X .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 80%, 20% 100%, 30% 50%);
}

/*Y*/

#Y .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 30%, 50% 30%);
}

#Y .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 100% 30%, 50% 30%);
}

#Y .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 70%, 0 30%, 50% 30%);
}

#Y .mid.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 70%, 65% 70%, 50% 30%);
}

#Y .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 30%, 65% 70%, 50% 30%);
}

#Y .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 100%, 65% 70%, 65% 100%);
}

#Y .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 100%, 65% 70%, 35% 70%);
}

/*Z*/

#Z .top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 30% 30%);
}

#Z .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 0, 30% 30%);
}

#Z .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 0 100%, 30% 30%);
}

#Z .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 70%, 0 100%, 100% 100%);
}

/*1*/
#one .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 20% 30%, 40% 30%);
}

#one .top.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 55% 0, 40% 30%);
}

#one .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 20%, 55% 0, 40% 30%);
}

#one .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 20%, 70% 100%, 40% 30%);
}

#one .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(40% 100%, 70% 100%, 40% 30%);
}

/*2*/

#two .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 100% 100%, 0 50%);
}

#two .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 75%, 50% 30%, 0 50%);
}

#two .mid.triangle{
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(50% 75%, 50% 30%, 100% 50%);
}

#two .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 20%, 50% 30%, 100% 50%);
}

#two .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 20%, 50% 30%, 70% 0);
}

#two .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 30%, 70% 0);
}

/*3*/

#three .mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 30% 50%, 100% 100%);
}

#three .top {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 35% 0, 53% 34%);
}

#three .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(54% 67%, 35% 100%, 100% 100%);
}

/*4*/

#four .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 0, 20% 70%, 100% 70%);
}

#four .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 20% 70%, 59% 36%);
}

#four .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 70%, 100% 100%, 70% 70%);
}

/*5*/

#five .bottom {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

#five .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 50%, 50% 30%, 50% 75%);
}

#five .mid.triangle {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 50%, 50% 30%, 50% 75%);
}

#five .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 50%, 50% 30%, 0 20%);
}

#five .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 50% 30%, 0 20%);
}

#five .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 50% 30%, 100% 0);
}

/*6*/

#six .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 60% 100%);
}

#six .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(60% 50%, 30% 50%, 60% 100%);
}

/*7*/

#seven .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0 30%, 70% 30%);
}

#seven .top.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 80% 0, 70% 30%);
}

#seven .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 30%, 80% 0, 70% 30%);
}

#seven .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(100% 30%, 30% 100%, 70% 30%);
}

#seven .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 30% 100%, 70% 30%);
}

/*8*/

#eight .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 30% 40%, 70% 0);
}

#eight .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(70% 40%, 30% 40%, 70% 0);
}

#eight .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 40%, 20% 40%, 20% 100%);
}

#eight .bottom.right{
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(80% 40%, 80% 100%, 20% 100%);
}

/*9*/

#nine .right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(40% 0, 100% 0, 100% 100%);
}

#nine .left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(40% 0, 70% 50%, 40% 50%);
}

/*0*/

#zero .top.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 0, 50% 50%, 65% 0);
}

#zero .top.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 0, 50% 50%, 15% 20%);

}

#zero .top.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(85% 20%, 50% 50%, 65% 0);
}

#zero .mid.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(15% 80%, 50% 50%, 15% 20%);
}

#zero .mid.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(85% 80%, 50% 50%, 85% 20%);
}

#zero .bottom.right {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(85% 80%, 50% 50%, 65% 100%);
}

#zero .bottom.mid {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 100%, 50% 50%, 65% 100%);
}

#zero .bottom.left {
    width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(35% 100%, 50% 50%, 15% 80%);
}






