body {
	
}

.grid-item {
  background-color: none;
  border: none;
    display: flex;
  justify-content: center;
}


.grid-container { 
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(6, 180px);
  grid-gap: 2px 2px;
}



.letter {
	width: 180px;
	height: 180px;
	position: relative;
	display: inline-block;
	margin: 30px;
	border: solid;
}


/*A*/

#A .up.triangle {
	width: 180px;
  height: 180px;
  background: orange;
	clip-path: polygon(50% 0%, 0 70%, 100% 70%);
	position: absolute;
}

#A .mid.left {
	width: 180px;
  height: 180px;
  background: orange;
position: absolute;
clip-path: polygon(0 70%, 0 180%, 50% 70%);

}

#A .mid.right {
	width: 180px;
  height: 180px;
  background: orange;
position: absolute;
clip-path: polygon(50% 70%, 100% 180%, 100% 70%);
 }

#A .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(0 180%, 20% 100%, 50% 70%);
}

#A .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    clip-path: polygon(100% 180%, 80% 100%, 50% 70%);
}


/*B*/

#B .left.ver {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

#B .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 20% 0);
}

#B .top.right{
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(20% 0, 50% 50%, 60% 30%);
}

#B .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 50% 100%, 50% 50%);
}

#B .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(70% 70%, 50% 100%, 50% 50%);
}


/*C*/

#C .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 0 30%, 30% 0);
}

#C .top.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 70% 0, 30% 0);
}

#C .mid {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(30% 50%, 0 70%, 0 30%);
}

#C .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 50%, 0 70%, 30% 100%);
}

#C .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
     clip-path: polygon(30% 50%, 70% 100%, 30% 100%);
}

/*D*/

#D .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 0, 30% 0, 0 50%);
}

#D .mid.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(30% 0, 0 50%, 30% 100%);
}

#D .bottom.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 100%, 0 50%, 30% 100%);
}

#D .top.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(30% 0, 30% 50%, 60% 30%);
}

#D .mid.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 60% 30%);
}

#D .bottom.right {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 30% 100%);
}

/*E*/

#E .mid {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(70% 50%, 0 0, 0 100%);
}

#E .top {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(42% 30%, 0 0, 60% 0);
}

#E .bottom {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
	clip-path: polygon(42% 70%, 0 100%, 60% 100%);
}

/*F*/

#F .top.left {
	width: 180px;
    height: 180px;
    background: orange;
    position: absolute;
    clip-path: polygon(0 30%, 0 0, 70% 0);

}



