body {
	
}

.letter-left {
    top: calc(50vh - 10px);
    position: fixed;
    left: 1em;
    transform: rotate(45deg);
}

.letter-right {
    top: calc(50vh - 10px);
    position: fixed;
    right: 1em;
    transform: rotate(-45deg);
}

/*js*/
.square {
  width: 20px;
  height: 20px;
  background: #fec4c4;
  position: absolute;
}

.square:nth-child(3n) {
  background: #99d2ee;
  transform: rotate(65deg);
}

.square:nth-child(4n) {
  background: #bfdb81;
}

.square:nth-child(5n) {
  background: #d0b2ff;
    transform: rotate(45deg);
}

.square:nth-child(7n) {
  background: #fddcbf;
  transform: rotate(85deg);
}

.square:nth-child(11n) {
  background: #facccc;
}


.square:nth-child(9n) {
  transform: rotate(30deg);
}

.square:nth-child(20n) {
  transform: rotate(70deg);
}


/*html - title   #zero:hover*/

.disabled {
  pointer-events: none;
  transform: scale(.5);
}


.title {
    height: 100vh;
}

/*.title #O {
    transform: scale(.5);
}
*/


.top-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-title {
    display: flex;
    align-items: center;
    justify-content: center;
}



/*html - body*/

.grid-item {
  background-color: none;
  border: none;
    display: flex;
  justify-content: center;
}


.grid-container { 
  display: grid;
  grid-template-columns: repeat(6, 180px);
  grid-template-rows: repeat(6, 180px);
  grid-gap: 2px 2px;
  justify-content: center;
}



.letter {
	width: 180px;
	height: 180px;
	position: relative;
	display: inline-block;
	margin: 0px;
    border-color: #1c2f45;
}

.flip-vertical-left {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}


/*.fill {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
}*/


/*A*/

#A .up.triangle {
	width: 180px;
  height: 180px;
  background: #28a91c;
	clip-path: polygon(50% 0%, 0 70%, 100% 70%);
	position: absolute;
}

#A .mid.left {
	width: 180px;
  height: 180px;
  background: #bfdb81;
position: absolute;
clip-path: polygon(0 70%, 0 90%, 50% 70%);
}

#A .mid.right {
	width: 180px;
  height: 180px;
  background: #bfdb81;
position: absolute;
clip-path: polygon(100% 70%, 100% 90%, 50% 70%);
 }

#A .bottom.left {
	width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(50% 70%, 0 90%, 20% 100%);
}

#A .bottom.right {
	width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(50% 70%, 100% 90%, 80% 100%);
}

#A:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#A:hover div.fill{
    opacity: 0;
}



/*B*/



#B .left.ver {
	width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 50% 50%);
}

#B .top.left {
	width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 20% 0);
}

#B .top.right{
	width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(20% 0, 50% 50%, 60% 30%);
}

#B .bottom.left {
	width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(0 100%, 50% 100%, 50% 50%);
}

#B .bottom.right {
	width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
	clip-path: polygon(70% 70%, 50% 100%, 50% 50%);
}

#B:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#B:hover div.fill{
    opacity: 0;
}

/*C*/

#C .top.left {
	width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(30% 50%, 0 30%, 30% 0);
}

#C .top.right {
	width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(30% 50%, 70% 0, 30% 0);
}

#C .mid {
	width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
	clip-path: polygon(30% 50%, 0 70%, 0 30%);
}

#C .bottom.left {
	width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(30% 50%, 0 70%, 30% 100%);
}

#C .bottom.right {
	width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
     clip-path: polygon(30% 50%, 70% 100%, 30% 100%);
}

#C:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#C:hover div.fill{
    opacity: 0;
}


/*D*/

#D .top.left {
	width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 0, 30% 0, 0 50%);
}

#D .mid.left {
	width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(30% 0, 0 50%, 30% 100%);
}

#D .bottom.left {
	width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 100%, 0 50%, 30% 100%);
}

#D .top.right {
	width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
	clip-path: polygon(30% 0, 30% 50%, 60% 30%);
}

#D .mid.right {
	width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 60% 30%);
}

#D .bottom.right {
	width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
	clip-path: polygon(60% 70%, 30% 50%, 30% 100%);
}

#D:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#D:hover div.fill{
    opacity: 0;
}


/*E*/

#E .mid {
	width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
	clip-path: polygon(70% 50%, 0 0, 0 100%);
}

#E .top {
	width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
	clip-path: polygon(42% 30%, 0 0, 60% 0);
}

#E .bottom {
	width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
	clip-path: polygon(42% 70%, 0 100%, 60% 100%);
}

#E:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#E:hover div.fill{
    opacity: 0;
}


/*F*/

#F .top.left {
	width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(0 30%, 0 0, 70% 0);

}

#F .mid.top {
	width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(0 30%, 40% 30%, 40% 13%);
}

#F .mid.left {
	width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
	clip-path: polygon(0 30%, 0 100%, 70% 30%);
}

#F .bottom.right {
	width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
	clip-path: polygon(40% 100%, 0 100%, 40% 60%);
}

#F:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#F:hover div.fill{
    opacity: 0;
}


/*G*/
#G .top.right {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(50% 0, 100% 0, 30% 50%);
}

#G .top.left {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(50% 0, 0 30%, 30% 50%);
}

#G .mid.triangle {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(0 70%, 0 30%, 30% 50%);
}

#G .bottom.left {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(0 70%, 30% 100%, 30% 50%);
}

#G .bottom.mid {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(80% 100%, 30% 100%, 30% 50%);
}

#G .bottom.right {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(80% 100%, 100% 85%, 70% 50%);
}

#G .mid.right {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(70% 50%, 100% 85%, 100% 50%);
}

#G:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#G:hover div.fill{
    opacity: 0;
}

/*H*/

#H .left {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 50% 50%);
}

#H .right {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 50% 50%);
}

#H .mid.top {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(30% 30%, 70% 30%, 50% 50%);
}

#H .mid.bottom {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(70% 70%, 30% 70%, 50% 50%);
}

#H:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#H:hover div.fill{
    opacity: 0;
}

/*I*/

#I .left {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(30% 0, 30% 100%, 70% 100%);
}

#I .right {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 70% 100%);
}

#I:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#I:hover div.fill{
    opacity: 0;
}


/*J*/

#J .top.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 30% 70%);
}

#J .right.triangle {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(70% 100%, 70% 0, 30% 70%);
}

#J .bottom.mid {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(70% 100%, 20% 100%, 30% 70%);
}

#J .bottom.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(0 80%, 0 30%, 30% 70%);
}

#J .mid.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(0 80%, 20% 100%, 30% 70%);
}

#J:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#J:hover div.fill{
    opacity: 0;
}


/*K*/

#K .left {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 30% 50%);
}

#K .top {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(0 0, 70% 0, 30% 50%);
}

#K .bottom {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(0 100%, 70% 100%, 30% 50%);
}

#K:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#K:hover div.fill{
    opacity: 0;
}


/*L*/

#L .left.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(0 0, 30% 70%, 30% 0);
}

#L .mid.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(0 0, 30% 70%, 0 100%);
}

#L .bottom.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(70% 100%, 30% 70%, 0 100%);
}

#L .bottom.right {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(70% 100%, 30% 70%, 100% 70%);
}

#L:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#L:hover div.fill{
    opacity: 0;
}


/*M*/

#M .left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(0 0, 50% 50%, 0 100%);
}

#M .bottom {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(100% 100%, 50% 50%, 0 100%);
}

#M .right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(100% 100%, 50% 50%, 100% 0);
}

#M:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#M:hover div.fill{
    opacity: 0;
}

/*N*/

#N .left {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(0 0, 70% 30%, 0 100%);
}

#N .right {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(100% 100%, 30% 70%, 100% 0);
}

#N:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#N:hover div.fill{
    opacity: 0;
}


/*O*/

#O .top.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(30% 0, 0 30%, 50% 50%);
}

#O .top.mid {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(30% 0, 70% 0, 50% 50%);
}

#O .top.right {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(100% 30%, 70% 0, 50% 50%);
}

#O .mid.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(0 70%, 0 30%, 50% 50%);
}

#O .bottom.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(0 70%, 30% 100%, 50% 50%);
}

#O .bottom.mid {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(70% 100%, 30% 100%, 50% 50%);
}

#O .mid.right {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(100% 30%, 100% 70%, 50% 50%);
}

#O .bottom.right {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(70% 100%, 100% 70%, 50% 50%);
}



#O:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#O:hover div.fill{
    opacity: 0;
}

/*P*/

#P .left {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 0, 0% 100%, 30% 70%);
}

#P .mid.top {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 0, 50% 0, 30% 70%);
}

#P .top.right {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(70% 30%, 50% 0, 30% 70%);
}

#P .bottom {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 100%, 30% 100%, 30% 70%);
}

#P:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#P:hover div.fill{
    opacity: 0;
}


/*Q*/

#Q .left {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(0 0, 40% 80%, 0 80%);

}

#Q .mid {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(0 0, 40% 80%, 80% 0);
}

#Q .right {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(80% 80%, 40% 80%, 80% 0);
}

#Q .bottom {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(80% 80%, 40% 80%, 100% 100%);
}

#Q:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#Q:hover div.fill{
    opacity: 0;
}

/*R*/

#R .left {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 70% 100%);
}

#R .mid {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(0 0, 40% 0, 40% 57%);
}

#R .right {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(70% 30%, 40% 0, 40% 57%);
}

#R:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#R:hover div.fill{
    opacity: 0;
}

/*S*/

#S .top {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(30% 0, 65% 35%, 100% 0);
}

#S .mid.right {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(30% 0, 30% 70%, 100% 70%);
}

#S .mid.left {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(30% 0, 30% 70%, 0 35%);
}

#S .bottom.right {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(65% 100%, 30% 70%, 100% 70%);
}

#S .bottom.left{
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(65% 100%, 30% 70%, 0 100%);
}

#S:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#S:hover div.fill{
    opacity: 0;
}

/*T*/

#T .top.left {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(0 0, 50% 0, 0 30%);
}

#T .top.right {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(100% 0, 50% 0, 100% 30%);
}

#T .top.mid {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(0 30%, 50% 0, 100% 30%);
}

#T .bottom.right {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(30% 30%, 70% 30%, 70% 100%);
}

#T .bottom.left {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(30% 30%, 30% 100%, 70% 100%);
}

#T:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#T:hover div.fill{
    opacity: 0;
}

/*U*/

#U .mid.left {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 0, 0 90%, 30% 70%);
}

#U .top.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 0, 15% 0, 30% 70%);
}

#U .bottom.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(10% 100%, 0 90%, 30% 70%);
}

#U .left.triangle {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(10% 100%, 50% 100%, 30% 70%);
}

#U .bottom.mid {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(70% 70%, 50% 100%, 30% 70%);
}

#U .right.triangle {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(70% 70%, 50% 100%, 90% 100%);
}

#U .bottom.right {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 90%, 90% 100%);
}

#U .mid.right {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 90%, 100% 0);
}

#U .top.right {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(70% 70%, 85% 0, 100% 0);
}

#U:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#U:hover div.fill{
    opacity: 0;
}

/*V*/

#V .top.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(0 0, 30% 0, 50% 70%);
}

#V .mid.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(0 0, 40% 100%, 50% 70%);
}

#V .bottom {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(60% 100%, 40% 100%, 50% 70%);
}

#V .mid.right {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(60% 100%, 100% 0, 50% 70%);
}

#V .top.right {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(70% 0, 100% 0, 50% 70%);
}

#V:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#V:hover div.fill{
    opacity: 0;
}


/*W*/

#W .top.left {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(0 0, 20% 100%, 35% 30%);
}

#W .bottom.left {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(50% 60%, 20% 100%, 35% 30%);
}

#W .mid.bottom {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(50% 60%, 65% 30%, 35% 30%);
}

#W .bottom.right {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(50% 60%, 65% 30%, 80% 100%);
}

#W .top.right {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(100% 0, 65% 30%, 80% 100%);
}

#W .mid.top {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(50% 0, 65% 30%, 35% 30%);
}

#W:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#W:hover div.fill{
    opacity: 0;
}

/*X*/
#X .top.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(0 20%, 20% 0, 30% 50%);
}

#X .mid.top.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(70% 50%, 20% 0, 30% 50%);
}

#X .mid.top.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(80% 0, 70% 50%, 50% 30%);
}

#X .top.right {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(80% 0, 70% 50%, 100% 20%);
}

#X .bottom.right {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(70% 50%, 80% 100%, 100% 80%);
}

#X .mid.bottom.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(70% 50%, 80% 100%, 30% 50%);
}

#X .mid.bottom.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(50% 70%, 20% 100%, 30% 50%);
}

#X .bottom.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(0 80%, 20% 100%, 30% 50%);
}

#X:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#X:hover div.fill{
    opacity: 0;
}

/*Y*/

#Y .top.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(0 0, 0 30%, 50% 30%);
}

#Y .top.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(100% 0, 100% 30%, 50% 30%);
}

#Y .mid.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(35% 70%, 0 30%, 50% 30%);
}

#Y .mid.triangle {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(35% 70%, 65% 70%, 50% 30%);
}

#Y .mid.right {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(100% 30%, 65% 70%, 50% 30%);
}

#Y .bottom.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(35% 100%, 65% 70%, 65% 100%);
}

#Y .bottom.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(35% 100%, 65% 70%, 35% 70%);
}

#Y:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#Y:hover div.fill{
    opacity: 0;
}

/*Z*/

#Z .top {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 30% 30%);
}

#Z .mid.right {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(70% 70%, 100% 0, 30% 30%);
}

#Z .mid.left {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(70% 70%, 0 100%, 30% 30%);
}

#Z .bottom {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(70% 70%, 0 100%, 100% 100%);
}

#Z:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#Z:hover div.fill{
    opacity: 0;
}

/*1*/
#one .top.left {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(20% 0, 20% 30%, 40% 30%);
}

#one .top.mid {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(20% 0, 55% 0, 40% 30%);
}

#one .top.right {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(70% 20%, 55% 0, 40% 30%);
}

#one .mid.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(70% 20%, 70% 100%, 40% 30%);
}

#one .bottom {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(40% 100%, 70% 100%, 40% 30%);
}

#one:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#one:hover div.fill{
    opacity: 0;
}


/*2*/

#two .bottom {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 100%, 100% 100%, 0 50%);
}

#two .mid.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(50% 75%, 50% 30%, 0 50%);
}

#two .mid.triangle{
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(50% 75%, 50% 30%, 100% 50%);
}

#two .mid.right {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(100% 20%, 50% 30%, 100% 50%);
}

#two .top.right {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(100% 20%, 50% 30%, 70% 0);
}

#two .top.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 0, 50% 30%, 70% 0);
}

#two:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#two:hover div.fill{
    opacity: 0;
}

/*3*/

#three .mid {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(100% 0, 30% 50%, 100% 100%);
}

#three .top {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(100% 0, 35% 0, 53% 34%);
}

#three .bottom {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(54% 67%, 35% 100%, 100% 100%);
}

#three:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#three:hover div.fill{
    opacity: 0;
}

/*4*/

#four .right {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(100% 0, 20% 70%, 100% 70%);
}

#four .left {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(20% 0, 20% 70%, 59% 36%);
}

#four .bottom {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(100% 70%, 100% 100%, 70% 70%);
}

#four:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#four:hover div.fill{
    opacity: 0;
}


/*5*/

#five .bottom {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(100% 50%, 0 100%, 100% 100%);
}

#five .mid.right {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(100% 50%, 50% 30%, 50% 75%);
}

#five .mid.triangle {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(0 50%, 50% 30%, 50% 75%);
}

#five .mid.left {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(0 50%, 50% 30%, 0 20%);
}

#five .top.left {
    width: 180px;
    height: 180px;
    background: #d0b2ff;
    position: absolute;
    clip-path: polygon(20% 0, 50% 30%, 0 20%);
}

#five .top.right {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
    clip-path: polygon(20% 0, 50% 30%, 100% 0);
}

#five:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#five:hover div.fill{
    opacity: 0;
}

/*6*/

#six .left {
    width: 180px;
    height: 180px;
    background: #facccc;
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 60% 100%);
}

#six .right {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
    clip-path: polygon(60% 50%, 30% 50%, 60% 100%);
}

#six:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#six:hover div.fill{
    opacity: 0;
}

/*7*/

#seven .top.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 0, 0 30%, 70% 30%);
}

#seven .top.mid {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(0 0, 80% 0, 70% 30%);
}

#seven .top.right {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(100% 30%, 80% 0, 70% 30%);
}

#seven .bottom.right {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
    clip-path: polygon(100% 30%, 30% 100%, 70% 30%);
}

#seven .bottom.left {
    width: 180px;
    height: 180px;
    background: #fddcbf;
    position: absolute;
    clip-path: polygon(0 100%, 30% 100%, 70% 30%);
}

#seven:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#seven:hover div.fill{
    opacity: 0;
}

/*8*/

#eight .top.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(30% 0, 30% 40%, 70% 0);
}

#eight .top.right {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(70% 40%, 30% 40%, 70% 0);
}

#eight .bottom.left {
    width: 180px;
    height: 180px;
    background: #99d2ee;
    position: absolute;
    clip-path: polygon(80% 40%, 20% 40%, 20% 100%);
}

#eight .bottom.right{
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
    clip-path: polygon(80% 40%, 80% 100%, 20% 100%);
}

#eight:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#eight:hover div.fill{
    opacity: 0;
}

/*9*/

#nine .right {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
    clip-path: polygon(40% 0, 100% 0, 100% 100%);
}

#nine .left {
    width: 180px;
    height: 180px;
    background: #fec4c4;
    position: absolute;
    clip-path: polygon(40% 0, 70% 50%, 40% 50%);
}

#nine:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#nine:hover div.fill{
    opacity: 0;
}

/*0*/

#zero .top.mid {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(35% 0, 50% 50%, 65% 0);
}

#zero .top.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(35% 0, 50% 50%, 15% 20%);

}

#zero .top.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(85% 20%, 50% 50%, 65% 0);
}

#zero .mid.left {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(15% 80%, 50% 50%, 15% 20%);
}

#zero .mid.right {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(85% 80%, 50% 50%, 85% 20%);
}

#zero .bottom.right {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(85% 80%, 50% 50%, 65% 100%);
}

#zero .bottom.mid {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
    clip-path: polygon(35% 100%, 50% 50%, 65% 100%);
}

#zero .bottom.left {
    width: 180px;
    height: 180px;
    background: #bfdb81;
    position: absolute;
    clip-path: polygon(35% 100%, 50% 50%, 15% 80%);
}

#zero:hover {
    -webkit-animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
            animation: flip-vertical-left 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) reverse both;
}

#zero:hover div.fill{
    opacity: 0;
}

/*.*/
#dot .left {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(40% 60%, 40% 80%, 60% 80%);
}

#dot .right {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(40% 60%, 60% 60%, 60% 80%);
}

/*,*/

#comma .left {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(40% 60%, 40% 80%, 60% 80%);
}

#comma .right {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(40% 60%, 60% 60%, 60% 80%);
}

#comma .bottom {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(50% 80%, 60% 90%, 60% 80%);
}

/*?*/

#question .top.left {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(20% 30%, 50% 0, 50% 30%);
}

#question .top.right {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(80% 30%, 50% 0, 50% 30%);
}

#question .mid {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(80% 30%, 50% 60%, 50% 30%);
}

#question .bottom.left {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(40% 90%, 50% 100%, 50% 80%);
}

#question .bottom.right {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(60% 90%, 50% 100%, 50% 80%);
}


/*!*/

#exclamation .top {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(40% 0, 60% 0, 50% 60%);
}

#exclamation .left {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(40% 90%, 50% 100%, 50% 80%);
}

#exclamation .right {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(60% 90%, 50% 100%, 50% 80%);
}


/*"left*/
#quotation-left .left.top {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(25% 10%, 25% 20%, 35% 20%);
}

#quotation-left .left.mid {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(25% 40%, 25% 20%, 45% 40%);
}

#quotation-left .left.bottom {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(45% 20%, 25% 20%, 45% 40%);
}

#quotation-left .right.top {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(50% 10%, 50% 20%, 60% 20%);
}

#quotation-left .right.mid {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(50% 40%, 50% 20%, 70% 40%);
}

#quotation-left .right.bottom {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(70% 20%, 50% 20%, 70% 40%);
}

/*"right*/

#quotation-right .left.top {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(25% 10%, 25% 30%, 45% 30%);
}

#quotation-right .left.mid {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(25% 10%, 45% 10%, 45% 30%);
}

#quotation-right .left.bottom {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(35% 30%, 45% 40%, 45% 30%);
}

#quotation-right .right.top {
    width: 180px;
    height: 180px;
    background: #e5e5e5;
    position: absolute;
    clip-path: polygon(50% 10%, 50% 30%, 70% 30%);
}

#quotation-right .right.mid {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(50% 10%, 70% 10%, 70% 30%);
}

#quotation-right .right.bottom {
    width: 180px;
    height: 180px;
    background: #8a959b;
    position: absolute;
    clip-path: polygon(70% 40%, 60% 30%, 70% 30%);
}


/*GREEN*/

#A .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

#L .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

#M .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

#X .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

#Y .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

#zero .fill {
    width: 180px;
    height: 180px;
    background: #28a91c;
    position: absolute;
}

/*PINK*/

#B .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

#K .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

#N .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

#W .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

#Z .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

#nine .fill {
    width: 180px;
    height: 180px;
    background: #ff3e82;
    position: absolute;
}

/*BLUE*/

#C .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

#J .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

#O .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

#V .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

#one .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

#eight .fill {
    width: 180px;
    height: 180px;
    background: #3392cc;
    position: absolute;
}

/*ORANGE*/

#D .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

#I .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

#P .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

#U .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

#two .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

#seven .fill {
    width: 180px;
    height: 180px;
    background: #ff7b08;
    position: absolute;
}

/*RED*/

#E .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

#H .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

#Q .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

#T .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

#three .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

#six .fill {
    width: 180px;
    height: 180px;
    background: #e60000;
    position: absolute;
}

/*PURPLE*/

#F .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#G .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#R .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#S .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#F .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#four .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}

#five .fill {
    width: 180px;
    height: 180px;
    background: #9245e3;
    position: absolute;
}



/*about ORIGAMI TYPE*/

.description {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*The quick brown fox jumps over the lazy dog*/

.pangram {
    height: 100vh;
    display: flex;

}

.letter-p {
    position: relative;
    display: inline-block;
    margin: 0px;
    border-color: #1c2f45;
}

.grid-container-p { 
  display: grid;
  grid-template-columns: repeat(12, 105px);
  grid-template-rows: repeat(5, 105px);
  grid-gap: 5px 2px;
  justify-content: center;
}

.grid-item-p {
  background-color: none;
  border: none;
    display: flex;
  justify-content: center;
  height: 30px;
  width: 105px;
}





