
/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');*/
@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
/*.custom {
cursor: url('project1/css/pointer.png'), pointer;
}*/

/*body {
    background-image: url("image/bg.png") 100vh 100vw;
  background-size: cover;
}*/

body {
  margin: 50px 15vw 20vh 18vw;
  background-color: gray;
  font-family: 'Share Tech Mono', monospace;
  border-style: solid;
  cursor: url('file:///Users/yunahwang/Desktop/CCA/int/interactive1/Project1/image/point3.png'), pointer;
}


.head {
  /*text-align: center;*/
  border-style: solid;
  padding: 10px;
  font-family: 'VT323', monospace;
  font-size: 50px;
}

h1{
  font-family: 'VT323', monospace;
}

.grid-item {
  background-color: none;
  border: none;
}


.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: repeat(10, 200px);
  grid-gap: 20px 20px;
  padding: 10px;
}

img {
  max-width: 180px;
  align-items: center;
}


.grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.flip-horizontal-bottom {
  -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

.tracking-in-contract-bck {
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}



#music-text {
  display: none;
   -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#music-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#floppy-text {
  display: none;
   -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#floppy-text.show {
  display: block;
    -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#cd-text {
  display: none;
    -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#cd-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#minidisc-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#minidisc-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#compactflash-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#compactflash-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#dvd-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#dvd-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#multimedia-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#multimedia-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#microdrive-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#microdrive-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#sdcard-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#sdcard-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#cds-text {
  display: none;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}
#cds-text.show {
  display: block;
  -webkit-animation: tracking-in-contract-bck 1s;
          animation: tracking-in-contract-bck 1s;
}

#tapeMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#tapeMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#floppyMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#floppyMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#cdMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#cdMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#minidiscMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#minidiscMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#compactflashMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#compactflashMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#dvdMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#dvdMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#multimediaMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#multimediaMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#usbMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#usbMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#sdcardMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#sdcardMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

#cdsMB {
  display: none;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}
#cdsMB.show {
  display: block;
    -webkit-animation: flip-horizontal-bottom 0.4s;
          animation: flip-horizontal-bottom 0.4s;
}

