
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #eab5ff;
    background-image: linear-gradient(#ffcb85,#fdf5c9, #ffc5d9);
    font-size: 60px;
}
#question{
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
    display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
    color: #6b3e26;
    width: 100vw;
    height: 100vh;
}
#answer {
    display: none;
}
/* hidden message */
@media (max-width: 1024px) {
    body {
        background: black;
        animation: color 4s alternate infinite;
    }
    #answer {
       font-family: Futura,Trebuchet MS,Arial,sans-serif;
            display: flex;
                  justify-content: center;
                  flex-direction: column;
                  text-align: center;
        color: white;
        width: 100vw;
        height: 100vh;
        animation: color 4s alternate infinite;
    }

    @keyframes color{ 100%{color: #e2f2e1 ;
      background:#5a5141; }

      50% {background:#9cd0b3; color:#9cd0b3;}

      0% { background:#e2f2e1; color:#5a5141;}
    }


    #question {
        display: none;
    }
}