
/* reset styles */
* {
        margin: 0px; padding: 0px;
}

/* make the background of the page black */
body {
        background: #8e8e8e;
}

/* flag canvas */
#canvas {
        width: 500px;
        height: 300px;
        position: relative;
        background: white;
}

/* shapes */

#square_topR{    
      width: 335px;
      height: 137px;
      background: black;
      position: absolute;

      top: 0px;
      right: 0px
}

#square_topL{
        width: 137px;
      height: 137px;
      background: #CD2E3A;
      position: absolute;

      top: 0px;
      left: 0px;
}

#square_lowR {
      width: 335px;
      height: 137px;
      background: black;
      position: absolute;

      bottom: 0px;
      right: 0px;
    }

#square_lowL {
         width: 137px;
      height: 137px;
      background: #CD2E3A;
      position: absolute;

      bottom: 0px;
      left: 0px;
}

#white_circle{
	    width: 180px;
        height: 180px;
        background: white;
        border-radius: 94px;

 position: absolute;
        top: 62px;
        left: 62px;
}

#circle{
	    width: 150px;
        height: 150px;
        background: #0047A0;
        border-radius: 75px;

 position: absolute;
        top: 78px;
        left: 78px;
}
/*@keyframes longline{
  0%{
    width: 335px;
  }
  100% {
    width: 500px;
  }
}

@keyframes shortline{
  0%{
    width: 287px;
  }
  100%{
    width: 500px;
  }
}*/

#stroke1{
    width: 335px;
    height: 10px;
    background: white;

    position: absolute;
    top: 34px;
    right: 0px;
    animation: longline 4s infinite;
}

#stroke2{
    width: 287px;
    height: 10px;
    background: white;

    position: absolute;
    top: 86px;
    right: 0px;
    animation: shortline 4s infinite;
}
#stroke3{
    width: 285px;
    height: 10px;
    background: white;

    position: absolute;
    top: 204px;
    right: 0px;
    animation: shortline 4s infinite;
}
#stroke4{
    width: 335px;
    height: 10px;
    background: white;

    position: absolute;
    top: 258px;
    right: 0px;
    animation: longline 4s infinite;
}

@keyframes v{
  0%{
    height: 10px;
  }
  100% {
    /*height: 300px;*/
    transform: scaleY(23);
  }
}

#vline1{
  width: 10px;
    height: 10px;
    background: white;

    position: absolute;
    top: 145px;
    right: 25px;
    animation: v 4s infinite;
}

#vline2{
  width: 10px;
    height: 10px;
    background: white;

    position: absolute;
    top: 145px;
    right: 85px;
    animation: v 4s infinite;
}

#vline3{
  width: 10px;
    height: 10px;
    background: white;

    position: absolute;
    top: 145px;
    right: 145px;
    animation: v 4s infinite;
}

#vline4{
  width: 10px;
    height: 10px;
    background: white;

    position: absolute;
    top: 145px;
    right: 210px;
    animation: v 4s infinite;
}
