@import url('https://fonts.googleapis.com/css?family=Rock+Salt');

* {
        margin: 0px; padding: 0px;
}

body {
	background: #ff9f6f;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;  
    height: 100vh;
}


img {
	max-width:25vw;
	top:270px;
	left:-300px;

        position:absolute;
 margin:auto;	
 -webkit-animation: vibrate 0.3s linear infinite both;
  animation: vibrate 0.3s linear infinite both;
 transition: 6.5s ease-in-out;
}


img:hover {
  left: 1500px;
}



#line1{
	width: 120vw;
    height: 40px;
    background: black;

        position:absolute;
 top:0;bottom:0;right:0;left:0;
 margin:auto;
}

#line1 {
	-webkit-animation: vibrate 0.3s linear infinite both;
	        animation: vibrate 0.3s linear infinite both;
}

@-webkit-keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  40% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  60% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  80% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(3px, -3px);
            transform: translate(3px, -3px);
  }
  40% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  60% {
    -webkit-transform: translate(-3px, 3px);
            transform: translate(-3px, 3px);
  }
  80% {
    -webkit-transform: translate(-3px, -3px);
            transform: translate(-3px, -3px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

button {
  background-color: transparent;
  font-family: 'Rock Salt', cursive;
  padding: 25px 16px;
  border-radius: 4px;
  border: 5px solid lightblue;

position: absolute;
  left: 45%;
  top: 60%;
  text-align: center;
  font-size: 30px;
}


.color {
  animation: change 8s alternate infinite ease;
}

 @keyframes change{ 
      0%{
      background:#dfffff; }

      25% {
      background:#def7f2; 
      }

      50% {
        background: #d8fcfd;
      }

      100% { 
      background:#c0e6ed; 
      }

    }
